@use './colors' as c;

/* fonts  */

$small-text: 0.875rem;
$extra-small-text: 0.7em;

  /* rest of the vars */

$backgroundColor: c.$grey-50;
$textColor: c.$grey-900;
$borderRadius: 0.25rem;
$letterSpacing: 1px;
$transition: 0.3s ease-in-out all;
$max-width: 1120px;
$fixed-width: 600px;
